<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".table").DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                },
                dom: "Bfrtip",
                buttons: [
                    'copyHtml5', 'excelHtml5', 'pdfHtml5'
                ]
            });
        });
    </script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">

                <a class="py-2" asp-controller="Home" ><span class="lnr lnr-home"></span> Inicio</a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Usuario" asp-action="Index" ><span class="lnr lnr-user"></span> Usuarios</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Propietarios" asp-action="Index"><span class="lnr lnr-user"></span> Propietarios</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Inmuebles" asp-action="Index"><span class="lnr lnr-apartment"></span> Inmuebles</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Contratos" asp-action="Index"><span class="lnr lnr-enter"></span> Alquileres</a>
                }
                @if (User.IsInRole("Empleado"))
                {
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Propietarios" asp-action="Index"><span class="lnr lnr-user"></span> Propietarios</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Inmuebles" asp-action="Index"><span class="lnr lnr-apartment"></span> Inmuebles</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Contratos" asp-action="Index"><span class="lnr lnr-enter"></span> Alquileres</a>
                }
                @if (User.IsInRole("Propietario"))
                {
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Propietarios" asp-action="Perfil"><span class="lnr lnr-user"></span> Mis Datos</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Inmuebles" asp-action="Index"><span class="lnr lnr-apartment"></span> Mis Inmuebles</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Contratos" asp-action="Index" style="color:white"><span class="lnr lnr-enter"></span> Alquileres</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Pagos" asp-action="Index" style="color:white"><span class="lnr lnr-paperclip"></span> Pagos</a>
                }


                @if (User.Identity.IsAuthenticated)
                {
                    <a class="py-2 d-none d-md-inline-block " asp-controller="Usuario" asp-action="Logout" style="color:orangered"><span class="lnr lnr-user"></span> @User.Identity.Name</a>
                }
                else
                {
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Usuario" asp-action="Login" style="color:white"><span class="lnr lnr-user"></span> Acceder</a>
                }
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container mt-3">
            @if (ViewBag.Id != null)
            {//alta exitosa
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Mensaje != null)
            {//cartel general
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Información:</strong> @ViewBag.Mensaje
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Error != null)
            {//alta exitosa
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>¡Error!</strong> @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
            {//ocurrió un error
                <environment names="Development">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            @ViewBag.StackTrace
                        </div>
                    </div>
                </environment>
            }
            <div class="m-1 p-1">
                @RenderBody()
            </div>
        </div>
    </main>

    @RenderSection("Scripts", false)
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        function init() {
            $('.alert').alert();
        }
    </script>
</body>
</html>
