@model IEnumerable<WebApplication1.Models.Contrato>

@{
    ViewData["Title"] = "Contratos Vencidos";
}

<h1>Listado de Contratos Vencidos</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Inicio del Contrato
            </th>
            <th>
                Fin del Contrato
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Direccion Inmueble
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inquilino.Apellido)
                @Html.DisplayFor(modelItem => item.Inquilino.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" title="Detalles"><span class="lnr lnr-text-align-justify" style="font-weight:bold"></span></a>&nbsp; |
                <a asp-action="ListaPagos" asp-route-id="@item.Id" title="Pagos Realizados"><span class="lnr lnr-list" style="font-weight:bold"></span></a>&nbsp; |
                <a asp-action="RenovarContrato" asp-route-id="@item.Id" title="Renovar Contrato"><span class="lnr lnr-sync" style="font-weight:bold"></span></a>&nbsp; |

                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Terminar Contrato"><span class="lnr lnr-cross" style="color:#fa0202; font-weight:bold"></span></a>

                }
            </td>
        </tr>
        }
    </tbody>
</table>
