@model WebApplication1.Models.Contrato

@{
    ViewData["Title"] = "Editar Contrato";
}

<h4>Editar</h4>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="InquilinoId">
                    @foreach (var item in (IList<Inquilino>)ViewBag.inquilino)
                    {
                        @:<option @(item.Id == Model.Inquilino.Id ? "selected" : "") value="@item.Id">@(item.Apellido + " " + item.Nombre)</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-control" name="InmuebleId">
                    @foreach (var item in (IList<Inmueble>)ViewBag.inmueble)
                    {
                        @:<option @(item.Id == Model.Inmueble.Id ? "selected" : "") value="@item.Id">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" type="date" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" type="date" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <h4>Datos del Garante</h4>
            <div class="form-group">
                <label asp-for="DniGarante" class="control-label">DNI</label>
                <input asp-for="DniGarante" class="form-control" />
                <span asp-validation-for="DniGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompletoGarante" class="control-label">Nombre Completo</label>
                <input asp-for="NombreCompletoGarante" class="form-control" />
                <span asp-validation-for="NombreCompletoGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoGarante" class="control-label">Teléfono</label>
                <input asp-for="TelefonoGarante" class="form-control" />
                <span asp-validation-for="TelefonoGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailGarante" class="control-label">Email</label>
                <input asp-for="EmailGarante" class="form-control" />
                <span asp-validation-for="EmailGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
                <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

