@model IEnumerable<WebApplication1.Models.Contrato>

@{
    ViewData["Title"] = "Lista de Contratos";
    DateTime fechaActual = DateTime.Today;
}

<h1>Lista de Contratos</h1>
<br />
<h3>Propietario: @ViewBag.Contrato.Inmueble.Duenio.Apellido @ViewBag.Contrato.Inmueble.Duenio.Nombre </h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Inicio del Contrato
            </th>
            <th>
                Fin del Contrato
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Direccion Inmueble
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inquilino.Apellido)
                    @Html.DisplayFor(modelItem => item.Inquilino.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
                </td>
                <td>
                    @if (User.IsInRole("Administrador") || User.IsInRole("Empleado"))
                    {
                        @if (item.FechaFin >= fechaActual)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><span class="lnr lnr-pencil" style="font-weight:bold"></span></a> <span>|</span>
                            <a asp-action="Pago" asp-route-id="@item.Id" title="Realizar Pago"><span class="lnr lnr-checkmark-circle" style="font-weight:bold"></span></a> <span>|</span>
                            <a asp-action="TerminarContrato" asp-route-id="@item.Id" title="Terminar Contrato"><span class="lnr lnr-flag" style="font-weight:bold"></span></a> <span>|</span>
                        }
                        <a asp-action="RenovarContrato" asp-route-id="@item.Id" title="Renovar Contrato"><span class="lnr lnr-sync" style="font-weight:bold"></span></a> <span>|</span>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalles"><span class="lnr lnr-text-align-justify" style="font-weight:bold"></span></a>&nbsp; |
                    <a asp-action="ListaPagos" asp-route-id="@item.Id" title="Pagos Realizados"><span class="lnr lnr-list" style="font-weight:bold"></span></a>&nbsp; |

                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Terminar Contrato"><span class="lnr lnr-cross" style="color:#fa0202; font-weight:bold"></span></a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>